# Gradle cache folder
.gradle

# Idea configuration folder
.idea
julie-react/.idea
docs/.idea

# Kotlin cache folder
.kotlin

# Build output folder
.build

# Node modules
julie-react/node_modules
docs/node_modules

# Next JS cache folder
docs/.next

# Local properties
local.properties