.display-large {
    font-size: 57px;
    line-height: 64px;
    letter-spacing: -0.25px;
}

.display-medium {
    font-size: 45px;
    line-height: 64px;
    letter-spacing: 0;
}

.display-small {
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}