.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.without-logo {
    padding: 16px 20px;
}

.with-logo {
    padding: 12px 20px;
}

.header-link:hover {
    background-color: var(--surface-hover-color);
}

.header-logo {
    height: 40px;
    border-radius: 100%;
}

.header-navigation ul {
    display: flex;
    list-style: none;
    height: 100%;
}

.header-navigation-option {
    height: 100%;
}

.header-navigation-option-link {
    height: 100%;
    padding: 12px 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-navigation-option-link:hover {
    background-color: var(--surface-hover-color);
    font-weight: 600;
}

.header-navigation-option-indicator {
    height: 3px;
    width: 28px;
    border-radius: 100px;
}

@media (max-width: 768px) {
    .header-logo {
        height: 28px;
    }
}