.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-link {
    padding: 16px 20px;
    text-decoration: none;
    display: flex;
}

.header-link:hover {
    background-color: var(--surface-hover-color);
}

.header-title {
    color: var(--primary-font-color);
}